@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Sam Blair<br />
    2512  Willet Dr<br />
    Laramie, WY 82070<br />

</address>

<address>
    <strong>Email:</strong>sblair3@uwyo.edu
</address>