@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Kinds of Curry</h1>
    <p class="lead">There are many types of curry for everyone to love.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            What is curry? Curry is a dish that originates from India, which uses a complex combination of spices and herbs. Curry
            has become popular all of the world and has its own reigonal differecnces. This website will be your go to place for all your curry recipes!
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Curry">Learn more about curry &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Attributes</h2>
        <p>The attibutes of curry recipe types would be:</p>
        <ul>
            <li>Bool - isVegitarian - Required</li>
            <li>String - origin - required</li>
            <li>int - feedsXpeople - not required</li>

            <li>double - expectedCost - notRequired</li>
            <li>int - timeToCook (in Mins) - not required</li>
            <li>String - Color - not required</li>
        </ul>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Types and Categories</h2>
        <p>The Three Types curries are:</p>
        <ul>
            <li>Dry </li>
            <li>Wet</li>
            <li>Mix</li>
        </ul>
        <p>The categories are the ingredients in the recipie:</p>
        <ul>
            <li>Depending on the kind of meat; beef, pork, seafood, chicken, none</li>
            <li>Depending on the vegetables; potatos, oninon, peppers, tomatos, etc</li>
            <li>Depending on the spices; garam masala, paprika, curry powder, tumeric, cumin, etc</li>
            <li>Miscellaneous ingredients; peanut butter, cheese, rice, naan</li>

        </ul>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>